.icon {
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    color: #ffc107;
    background-color: #ffff;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.icon:hover {
    color: #ffff;
    background-color: #ffc107;
    transition: 0.6s ease-in-out;
}

.icon1 {
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    height: 90%;
    width: 25%;
    color: #ffc107;
    background-color: #ffff;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.icon1:hover {
    color: #ffff;
    background-color: #ffc107;
    transition: 0.6s ease-in-out;
}

.icon6{
    font-size: 5em;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    color: #ffc107;
    background-color: #ffff;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.icon6:hover{
    color: #ffff;
    background-color: #ffc107;
    transition: 0.6s ease-in-out;
    font-size: 6em;
}

.icon2 {
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    height: 90%;
    width: 25%;
    color: #ffc107;
    background-color: #ffff;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.icon2:hover {
    color: #ffff;
    background-color: #ffc107;
}